@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import "variables";

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.weather-toggle {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.icon-wrapper {
  font-size: 70px;
  padding-top: 20px;
  text-align: center;
}

p {
  margin: 5px 0px 5px 0px;
  font-size: 26px;
}

.text-center {
  text-align: center;
}

.gold-icon {
  color: $gold;
}

