@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.weather-toggle {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

